@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "微软雅黑"; }

html, body, .container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #fefefc;
  -webkit-tap-highlight-color: transparent; }

.container {
  overflow: hidden; }

.header {
  height: 60px;
  background: #12B7F5;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: space-between;
  -webkit-align-items: center; }
  .header .photo {
    width: 44px;
    height: 44px;
    border-radius: 22px;
    overflow: hidden;
    margin-left: 3%; }
    .header .photo img {
      width: 100%;
      height: 100%; }
  .header .box {
    color: #fff; }
    .header .box h1 {
      font-size: 1.4rem;
      font-weight: 400; }
  .header .header-tab {
    border: 1px solid #fff;
    hieght: auto;
    border-radius: 8px;
    overflow: hidden;
    margin: 0; }
    .header .header-tab span {
      color: #fff;
      float: left;
      display: inline-block;
      padding: 8px 15px;
      background: #12B7F5;
      font-size: 0.8rem;
      margin: 0; }
      .header .header-tab span.on {
        background: #fff;
        color: #12B7F5; }
  .header .add-friend {
    color: #fff;
    font-size: 1.9rem;
    margin-right: 3%;
    font-weight: 800; }
    .header .add-friend.boxa {
      font-size: 1rem;
      color: #fff;
      font-weight: 400; }

section {
  width: 100%;
  position: absolute;
  bottom: 60px;
  top: 60px;
  left: 100%;
  background: #F7F7F8;
  overflow-y: scroll; }
  section:nth-of-type(1) {
    left: 0; }

.sec-show {
  left: 0;
  -webkit-transition: 0.6s; }

.sec {
  width: 100%;
  padding: 10px 10px;
  background: #fff; }
  .sec .search {
    width: 100%;
    height: 30px;
    border-radius: 8px;
    line-height: 30px;
    text-align: center;
    background: #EEEFF3;
    font-size: 0.9rem;
    color: #B6B6B6; }

.main-list {
  width: 100%;
  padding: 0 0 5px 0;
  background: #fff; }

.msg-list {
  width: 100%;
  height: 70px;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  border-bottom: 1px solid #F3F3F3; }
  .msg-list img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border-radius: 50%; }
  .msg-list .msg-text {
    position: relative;
    -webkit-flex-grow: 1; }
    .msg-list .msg-text h4 {
      padding: 3px 0;
      color: #030303;
      font-size: 0.9rem; }
    .msg-list .msg-text p {
      font-size: 0.8rem;
      color: #B6B6B6;
      padding: 3px 0; }
    .msg-list .msg-text .time {
      position: absolute;
      right: 3%;
      top: 0;
      font-size: 0.8rem;
      color: #8D8D8D; }

.friend-list {
  background: #F7F7F8; }

.fsec {
  background: #fff;
  padding-bottom: 10px;
  border-bottom: 1px solid #E5E5E6; }

.new-firend {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: space-between; }
  .new-firend dl {
    text-align: center;
    width: 25%; }
    .new-firend dl a {
      color: #9B9DB1; }
    .new-firend dl dt {
      height: 45px;
      width: 45px;
      background: url("../img/all.png") no-repeat;
      margin: 0 auto; }
    .new-firend dl dd {
      font-size: 0.9rem;
      width: 100%;
      padding-top: 9px; }
    .new-firend dl:nth-of-type(1) dt {
      background-position: 5px 0; }
    .new-firend dl:nth-of-type(2) dt {
      background-position: -109px 0; }
    .new-firend dl:nth-of-type(3) dt {
      background-position: -220px 0; }
    .new-firend dl:nth-of-type(4) dt {
      background-position: -334px 0; }

.friend2 dl dt {
  height: 33px;
  width: 36px;
  background: url("../img/all1.png") no-repeat; }
.friend2 dl:nth-of-type(1) dt {
  background-position: 0px 0; }
.friend2 dl:nth-of-type(2) dt {
  background-position: -109px 0; }
.friend2 dl:nth-of-type(3) dt {
  background-position: -220px 0; }

.device {
  margin-top: 10px;
  background: #fff; }
  .device p {
    height: 45px;
    line-height: 45px;
    border: 1px solid #E5E5E6;
    border-left: none;
    border-right: none;
    font-size: 0.9rem;
    border-top: none; }
    .device p span {
      float: right;
      padding-right: 10px; }
    .device p:before {
      content: "";
      width: 0px;
      height: 0px;
      display: inline-block;
      border: 7px solid transparent;
      border-left-color: #B3B3B3;
      margin: auto 10px; }

.applist {
  background: #fff;
  margin-top: 15px; }
  .applist dl {
    height: 45px;
    display: -webkit-flex;
    align-items: center;
    line-height: 45px;
    position: relative;
    border-bottom: 1px solid #DBDFE1; }
    .applist dl:after {
      content: "";
      display: inline-block;
      width: 12px;
      height: 12px;
      border-right: 1px solid #DBDFE1;
      border-bottom: 1px solid #DBDFE1;
      -webkit-transform: rotate(-45deg);
      position: absolute; }
    .applist dl:after {
      right: 15px;
      top: 50%;
      margin-top: -6px; }
    .applist dl dt {
      width: 30px;
      height: 30px;
      background: url("../img/msgall.png") no-repeat;
      margin: 0 15px;
      background-position: 0 7px; }
    .applist dl:nth-child(2) dt {
      background-position: 0 -44px; }
    .applist dl:nth-child(3) dt {
      background-position: 0 -95px; }
    .applist dl:nth-child(4) dt {
      background-position: 0 -142px; }
    .applist dl:nth-child(5) dt {
      background-position: 0 -188px; }

.foot {
  height: 60px;
  width: 100%;
  border-top: 1px solid #DBDFE1;
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: space-between;
  -webkit-align-items: center;
  background: #fff; }
  .foot a {
    color: #9B9DB1; }
  .foot dl {
    -webkit-flex-grow: 1;
    text-align: center;
    font-size: 0.8rem;
    color: #9B9DB1; }
    .foot dl dt {
      font-size: 2rem;
      padding-bottom: 2px;
      color: #9B9DB1; }
    .foot dl.now dt {
      position: relative;
      color: #9B9DB1; }
      .foot dl.now dt:after {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 2px solid #fff;
        border-left-color: transparent;
        border-top-color: transparent;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        -webkit-transform: rotate(45deg); }
    .foot dl.now dd {
      color: #9B9DB1; }
    .foot dl.nowa dt {
      position: relative;
      color: #12B7F5; }
    .foot dl.nowa dd {
      color: #12B7F5; }

/*# sourceMappingURL=main.css.map */
