@charset "UTF-8";
$main-color:#12B7F5;
$border-color:#DBDFE1;
$change-back-color:#F7F7F8;
$txt-color:#9B9DB1;
$white:#fff;
*{
	margin:0;
	padding:0;
	list-style:none;
	box-sizing:border-box;
	text-decoration:none;
	font-family:"微软雅黑";
}
$border-color:#DBDFE1;
html,body,.container{
	width:100%;
	height:100%;
	overflow:hidden;
	background:#fefefc;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
@mixin wh($w,$h){
	width:$w/2;
	height:$h/2;
}
@mixin box($way){
		display:flex;
		display:-webkit-flex;
		display:-moz-flex;
		display:-ms-flex;
		display:-o-flex;

	-webkit-flex-direction:$way;
	-moz-flex-direction:$way;
	-ms-flex-direction:$way;
	-o-flex-direction:$way;
	flex-direction:$way;
}

@mixin flex($num){
	-webkit-flex-grow:$num;
	-moz-flex-grow:$num;
	-ms-flex-grow:$num;
	-o-flex-grow:$num;
	flex-grow:$num;
}

@mixin pos($p:absolute){
	position:$p;
}

@mixin borderT{
	border-top:1px solid #ccc;
}

@mixin borderB{
	border-bottom:1px solid #ccc;
}

@mixin arrow-right{
	&:after{
		content:"";
		display:inline-block;
		width:8px;
		height:8px;
		border-right:1px solid $border-color;
		border-bottom:1px solid $border-color;
		-webkit-transform:rotate(-45deg);
		@include pos;
	}
}
@mixin arrow-left{
	&:before{
		content:"";
		display:inline-block;
		width:10px;
		height:10px;
		border-right:1px solid $border-color;
		border-bottom:1px solid $border-color;
		
		-webkit-transform:rotate(135deg);
		-moz-transform:rotate(135deg);
		-ms-transform:rotate(135deg);
		-o-transform:rotate(135deg);
			transform:rotate(135deg);
		
		@include pos;
	}
}
@mixin to-center{
	-webkit-justify-content:space-between;
	-moz-justify-content:space-between;
	-ms-justify-content:space-between;
	-o-justify-content:space-between;
	    justify-content:space-between;
	-webkit-align-items:center;
	-moz-align-items:center;
	-ms-align-items:center;
	-o-align-items:center;
	    align-items:center;
}
.back{
	font-size:1em;
}

/* @media all and (orientation : landscape) { 

	span{color:red;}//横屏时字体红色
	body{

			width:480px;
			height:320px;
			-webkit-transform:rotatex(-90deg);
			-moz-transform:rotatex(-90deg);
			-ms-transform:rotatex(-90deg);
			-o-transform:rotatex(-90deg);
			transform:rotatex(-90deg);

			-webkit-transform-origin: center center;
			-moz-transform-origin: center center;
			-ms-transform-origin: center center;
			-o-transform-origin: center center;
			transform-origin: center center;
		}

} 
@media all and (orientation : portrait){ 

	span{color:green;}//竖屏时字体绿色
	body{
		-webkit-transform:rotatex(0);
		-moz-transform:rotatex(0);
		-ms-transform:rotatex(0);
		-o-transform:rotatex(0);
		transform:rotatex(0);
	}
} */


/* @media only screen and (min-device-width : 320px)  and (max-device-width : 450px){
	
}
 */
